/* Progress Bar Shit */
.status {
    color:#555;
}
.x-progress-wrap.left-align .x-progress-text {
    text-align:left;
}
.x-progress-wrap.custom {
    height:17px;
    border:1px solid #686868;
    overflow:hidden;
    padding:0 2px;
}
.ext-ie .x-progress-wrap.custom {
    height:19px;
}
.custom .x-progress-inner {
    height:17px;
    background: #fff;
}
.custom .x-progress-bar {
    height:15px;
    background:transparent url(images/custom-bar.gif) repeat-x 0 0;
    border-top:1px solid #BEBEBE;
    border-bottom:1px solid #EFEFEF;
    border-right:0;
}

/* Icon Shit */
.home {
	background-image:url(../assets/icons/home.png) !important;
}
.setting {
	background-image:url(../assets/icons/setting.png) !important;
}
.sinkronisasi {
	background-image:url(../assets/icons/sinkronisasi.png) !important;
}
.tprofesi-data {
	background-image:url(../assets/icons/profesi-daftar.png) !important;
}
.tprofesi-buat {
	background-image:url(../assets/icons/profesi-buat.png) !important;
}
.tprofesi-status {
	background-image:url(../assets/icons/profesi-status.png) !important;
}
.tfungsional-daftar {
	background-image:url(../assets/icons/fungsional-daftar.png) !important;
}
.tfungsional-buat {
	background-image:url(../assets/icons/fungsional-buat.png) !important;
}
.tfungsional-status {
	background-image:url(../assets/icons/fungsional-status.png) !important;
}
.tkhusus-daftar {
	background-image:url(../assets/icons/khusus-daftar.png) !important;
}
.tkhusus-buat {
	background-image:url(../assets/icons/khusus-buat.png) !important;
}
.tkhusus-status {
	background-image:url(../assets/icons/khusus-status.png) !important;
}
.tbantuan-daftar {
	background-image:url(../assets/icons/bantuan-daftar.png) !important;
}
.tbantuan-buat {
	background-image:url(../assets/icons/bantuan-buat.png) !important;
}
.tbantuan-status {
	background-image:url(../assets/icons/bantuan-status.png) !important;
}

.zoom{
	background-image:url(../assets/icons/zoom.png) !important;
}
.save {
	background-image:url(../assets/icons/save.png) !important;
}
.edit {
	background-image:url(../assets/icons/pencil.png) !important;
}
.cek{
    background-image:url(../assets/icons/tick.png) !important;
}
.refresh{
	background-image:url(../assets/icons/arrow_refresh.png) !important;
}
.revisi{
	background-image:url(../assets/icons/page_revisi.png) !important;
}
.icon-grid {
	background-image:url(../assets/icons/grid.png) !important;
}
.add {
    background-image:url(../assets/icons/add.png) !important;
}
.application_form {
    background-image:url(../assets/icons/application_form.png) !important;
}
.option {
    background-image:url(../assets/icons/plugin.png) !important;
}
.remove {
    background-image:url(../assets/icons/delete.png) !important;
}
.save {
    background-image:url(../assets/icons/save.png) !important;
}
.edit {
	background-image:url(../assets/icons/pencil.png) !important;
}
.max {
	background-image:url(../assets/icons/money_add.png) !important;
}
.kosongkan {
	background-image:url(../assets/icons/drink_empty.png) !important;
}
.empty{
	background-image:url(../assets/icons/drink_empty.png) !important;
}
.accept {
	background-image:url(../assets/icons/emoticon_smile.png) !important;
}
.reject {
	background-image:url(../assets/icons/emoticon_unhappy.png) !important;
}
.cancel{
	background-image:url(../assets/icons/cancel.png) !important;
}
.showlist {
	background-image:url(../assets/icons/table.png) !important;
}
.preview{
	background-image:url(../assets/icons/page_white_magnify.png) !important;
}
.print {
	background-image:url(../assets/icons/printer.png) !important;
}
.logout {
	background-image:url(../assets/icons/door_out.png) !important;
}
.refresh{
	background-image:url(../assets/icons/arrow_refresh.png) !important;
}
.files{
	background-image:url(../assets/icons/page_white_stack.png) !important;
}
.pdf{
	background-image:url(../assets/icons/page_white_acrobat.png) !important;
}
.xls{
	background-image:url(../assets/icons/page_excel.png) !important;
}
.doc{
	background-image:url(../assets/icons/page_white_word.png) !important;
}
.next{
	background-image:url(../assets/icons/control_fastforward_blue.png) !important;
}
.previous{
	background-image:url(../assets/icons/control_rewind_blue.png) !important;
}
.play{
	background-image:url(../assets/icons/control_play_blue.png) !important;
}
.stop{
	background-image:url(../assets/icons/control_stop_blue.png) !important;
}
.bricks{
	background-image:url(../assets/icons/bricks.png) !important;
}
.sidebyside{
	background-image:url(../assets/icons/application_tile_horizontal.png) !important;
}
.copy{
	background-image:url(../assets/icons/page_copy.png) !important;
}
.pc-link{
	background-image:url(../assets/icons/computer_link.png) !important;
}
.download{
	background-image:url(../assets/icons/application_put.png) !important;
}
.page_kontrol{
    background-image:url(../assets/icons/page_kontrol.png) !important;
}
.spp{
	background-image:url(../assets/icons/page_white_spp.png) !important;
}
.spm{
	background-image:url(../assets/icons/page_white_spm.png) !important;
}
.sp2d{
	background-image:url(../assets/icons/page_white_sp2d.png) !important;
}
.revisi{
	background-image:url(../assets/icons/page_revisi.png) !important;
}
.prm_baru{
	background-image:url(../assets/icons/prm_baru.png) !important;
}
.prm_proses{
	background-image:url(../assets/icons/prm_proses.png) !important;
}
.prm_tolak{
	background-image:url(../assets/icons/prm_tolak.png) !important;
}
.prm_cair{
	background-image:url(../assets/icons/prm_cair.png) !important;
}
.prm_selesai{
	background-image:url(../assets/icons/bricks.png) !important;
}
.barcode{
    background-image:url(../assets/icons/barcode.png) !important;
}
.process{
    background-image:url(../assets/icons/cog.png) !important;
}
.cek{
    background-image:url(../assets/icons/tick.png) !important;
}
.up{
    background-image:url(../assets/icons/arrow_up.png) !important;
}
.down{
    background-image:url(../assets/icons/arrow_down.png) !important;
}
.silang{
    background-image:url(../assets/icons/cross.png) !important;
}
.upload-icon{
	background-image:url(../assets/icons/folder_page.png) !important;
}
.book_add{
	background-image:url(../assets/icons/book_add.png) !important;
}
.report{
	background-image:url(../assets/icons/report.png) !important;
}
.money_add{
	background-image:url(../assets/icons/money_add.png) !important;
}
.arrow_out{
	background-image:url(../assets/icons/arrow_out.png) !important;
}
.zoom{
	background-image:url(../assets/icons/zoom.png) !important;
}
.compress{
	background-image:url(../assets/icons/compress.png) !important;
}
.asterisk_yellow{
	background-image:url(../assets/icons/asterisk_yellow.png) !important;
}
.prev{
	background-image:url(../assets/icons/resultset_previous.png) !important;
}
.next{
	background-image:url(../assets/icons/resultset_next.png) !important;
}
.application_view_list{
	background-image:url(../assets/icons/application_view_list.png) !important;
}
.calculator{
	background-image:url(../assets/icons/calculator.png) !important;
}
.blue-row .x-grid3-cell-inner{
	color:blue;
	font-weight:bold;
}
.red-row .x-grid3-cell-inner{
	color:red;
	font-weight:bold;
}
.green-row .x-grid3-cell-inner{
	color:green;
	font-weight:bold;
}


.report_nas{
	background-image:url(../assets/icons/rekap-nas.png) !important;
}
.user-home2{
	background-image:url(../assets/icons/user-home2.png) !important;
}
.logo-sd{
	background-image:url(../assets/icons/logo-sd.png) !important;
}
.logo-smp{
	background-image:url(../assets/icons/logo-smp.png) !important;
}
.logo-guru{
	background-image:url(../assets/icons/logo-guru.png) !important;
}
.logo-sekolah{
	background-image:url(../assets/icons/logo-sekolah.png) !important;
}
.logo-peta{
	background-image:url(../assets/icons/logo-peta.png) !important;
}
.buku{
	background-image:url(../assets/icons/book.png) !important;
}
.kchart{
	background-image:url(../assets/icons/kchart.png) !important;
}
.zoom{
	background-image:url(../assets/icons/zoom.png) !important;
}
.go-home-8{
	background-image:url(../assets/icons/go-home-8.png) !important;
}
.view-list-details-4{
	background-image:url(../assets/icons/view-list-details-4.png) !important;
}
.help{
	background-image:url(../assets/icons/help.png) !important;
}
.system-settings{
	background-image:url(../assets/icons/system-settings.png) !important;
}
.view-table-of-contents-ltr{
	background-image:url(../assets/icons/view-table-of-contents-ltr.png) !important;
}
.group{
	background-image:url(../assets/icons/group.png) !important;
}
.application-exit{
	background-image:url(../assets/icons/application-exit.png) !important;
}
.help-about-3{
	background-image:url(../assets/icons/help-about-3.png) !important;
}
.dialog-question{
	background-image:url(../assets/icons/dialog-question.png) !important;
}
.dialog-question-2{
	background-image:url(../assets/icons/dialog-question-2.png) !important;
}
.dialog-information-3{
	background-image:url(../assets/icons/dialog-information-3.png) !important;
}
.utilities-user-info{
	background-image:url(../assets/icons/utilities-user-info.png) !important;
}
.kuser-3{
	background-image:url(../assets/icons/kuser-3.png) !important;
}
.status-away{
	background-image:url(../assets/icons/status-away.png) !important;
}
.user-suit{
	background-image:url(../assets/icons/user-suit.png) !important;
}

.home {
	background-image:url(../assets/icons/home.png) !important;
}
.setting {
	background-image:url(../assets/icons/setting.png) !important;
}
.tprofesi-data {
	background-image:url(../assets/icons/profesi-daftar.png) !important;
}
.tprofesi-buat {
	background-image:url(../assets/icons/profesi-buat.png) !important;
}
.tprofesi-status {
	background-image:url(../assets/icons/profesi-status.png) !important;
}
.tfungsional-daftar {
	background-image:url(../assets/icons/fungsional-daftar.png) !important;
}
.tfungsional-buat {
	background-image:url(../assets/icons/fungsional-buat.png) !important;
}
.tfungsional-status {
	background-image:url(../assets/icons/fungsional-status.png) !important;
}
.tkhusus-daftar {
	background-image:url(../assets/icons/khusus-daftar.png) !important;
}
.tkhusus-buat {
	background-image:url(../assets/icons/khusus-buat.png) !important;
}
.tkhusus-status {
	background-image:url(../assets/icons/khusus-status.png) !important;
}
.tbantuan-daftar {
	background-image:url(../assets/icons/bantuan-daftar.png) !important;
}
.tbantuan-buat {
	background-image:url(../assets/icons/bantuan-buat.png) !important;
}
.tbantuan-status {
	background-image:url(../assets/icons/bantuan-status.png) !important;
}

.zoom{
	background-image:url(../assets/icons/zoom.png) !important;
}
.edit {
	background-image:url(../assets/icons/pencil.png) !important;
}
.cek{
    background-image:url(../assets/icons/tick.png) !important;
}
.refresh{
	background-image:url(../assets/icons/arrow_refresh.png) !important;
}
.revisi{
	background-image:url(../assets/icons/page_revisi.png) !important;
}
.view-refresh-6{
	background-image:url(../assets/icons/view-refresh-6.png) !important;
}
.run-build-2{
	background-image:url(../assets/icons/run-build-2.png) !important;
}
.money{
	background-image:url(../assets/icons/money.png) !important;
}
.application-x-kchart{
	background-image:url(../assets/icons/application-x-kchart.png) !important;
}
.office-calendar{
	background-image:url(../assets/icons/office-calendar.png) !important;
}
.checklist-status{
	background-image:url(../assets/icons/checklist-status.png) !important;
}
.logo-guru-data{
	background-image:url(../assets/icons/logo-guru-data.png) !important;
}
.logo-guru-data-verify{
	background-image:url(../assets/icons/logo-guru-data-verify.png) !important;
}
.letter-signed{
	background-image:url(../assets/icons/letter-signed.png) !important;
}
.mail-reply{
	background-image:url(../assets/icons/mail-reply.png) !important;
}
.mailbox-1-icon{
	background-image:url(../assets/icons/mailbox-1-icon.png) !important;
}
.realisasi-dana{
	background-image:url(../assets/icons/realisasi-dana.png) !important;
}
.letter-manage{
	background-image:url(../assets/icons/letter-manage.png) !important;
}
.logo-tut {
	background-image:url(../assets/icons/tut_icon.png) !important;
}
.login{
	background-image:url(../assets/icons/login.png) !important;
}

.toggle-expand{
	background-image:url(../assets/icons/toggle-expand.png) !important;
}
.toggle{
	background-image:url(../assets/icons/toggle.png) !important;
}
.document-print-5{
	background-image:url(../assets/icons/document-print-5.png) !important;
}
.checklist-icon{
	background-image:url(../assets/icons/checklist-icon.png) !important;
}
.mail-message{
	background-image:url(../assets/icons/mail-message.png) !important;
}
/* Template shit */
.search-item {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    padding:3px 10px 3px 10px;
    border:1px solid #fff;
    border-bottom:1px solid #eeeeee;
    white-space:normal;
    color:#555;
}
.search-item h3 {
    display:block;
    font:inherit;
    font-weight:bold;
    color:#222;
}

.search-item h3 span {
    float: right;
    font-weight:normal;
    margin:0 0 5px 5px;
    width:100px;
    display:block;
    clear:none;
}

/* Application shit */
#msg-div {
    position: fixed;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: 20000;
}
#msg-div .msg {    
	width: 200px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #FFEEBF;
    border: 2px solid #EFB34A;
    margin: 3px auto;
    padding: 10px 15px;
    color: #555;
    -moz-box-shadow: 0 5px 8px #ccc;
    -webkit-box-shadow: 0 5px 8px #ccc;
    box-shadow: 0 5px 8px #ccc;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 12px;
}
#msg-div .msg p {
    margin: 0;
	font-size: 10px;
}
