@CHARSET "ISO-8859-1";

body{
	/*background: #3d71b8 url(../assets/images/back.png) center;	*/
	background: #3d71b8 url(../assets/images/websai-back.png) center;	
}

#inwindow {
	border-style: inset;
	border-width: 1px;
	width: 600px;
	height: 356px;
}

#splash {
	background-image: url(../assets/images/sim-rasio.png);
	width: 600px;
	height: 250px;
}

#form {
	background: #000070;
	width: 600px;
	height: 100px;
	padding-top: 5px;
	border-top: #ffffff 1px dotted;
	color:#BBBBBB;
	/*color:#FF6600*/
}